{% extends 'ftc/bases/base.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='/javascript/portfolio-script.js') }}"></script>
    {% block intermediateHead %}
    {% endblock %}
{% endblock %}

{% block body %}
    {% block header %} {% endblock %}

    <!-- Search and filter bar -->
    <div class="bg-light py-2 border rounded" style="margin: 10px;">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <!-- Dropdown Container -->
                <div class="d-flex flex-wrap flex-grow-1">
                    <form method="POST" action="/filter-portfolios" id="filterForm" class="d-flex">
                        <!-- Hidden values -->
                        <input type="hidden" name="selectedYear" id="selectedYear" value="">
                        <input type="hidden" name="selectedTeamNumber" id="selectedTeamNumber" value="">
                        <input type="hidden" name="selectedAwardWon" id="selectedAwardWon" value="">

                        <!-- Year dropdown -->
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="yearDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Year Used
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="yearDropdownButton">
                                <li><a class="dropdown-item" onclick="selectYear('2025')">2025</a></li>
                                <li><a class="dropdown-item" onclick="selectYear('2024')">2024</a></li>
                                <li><a class="dropdown-item" onclick="selectYear('2023')">2023</a></li>
                                <li><a class="dropdown-item" onclick="selectYear('2022')">2022</a></li>
                                <li><a class="dropdown-item" onclick="selectYear('Any')">Any</a></li>
                            </ul>
                        </div>

                        <!-- Team Number dropdown -->
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="compDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Team Number
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="compDropdownButton">
                                <li><a class="dropdown-item" onclick="selectTeamNumber('2000')">Greater than 2000</a></li>
                                <li><a class="dropdown-item" onclick="selectTeamNumber('1500')">1500-2000</a></li>
                                <li><a class="dropdown-item" onclick="selectTeamNumber('1000')">1000-1500</a></li>
                                <li><a class="dropdown-item" onclick="selectTeamNumber('500')">500-1000</a></li>
                                <li><a class="dropdown-item" onclick="selectTeamNumber('<500')">Less than 500</a></li>
                                <li><a class="dropdown-item" onclick="selectTeamNumber('Any')">Any</a></li>
                            </ul>
                        </div>

                        <!-- Awards Won dropdown -->
                        <div class="dropdown me-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="awardsDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Awards Won
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="awardsDropdownButton">
                                <li><a class="dropdown-item" onclick="selectAwardWon('inspire')">Inspire</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('think')">Think</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('connect')">Connect</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('motivate')">Motivate</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('design')">Design</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('innovate')">Innovate</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('control')">Control</a></li>
                                <li><a class="dropdown-item" onclick="selectAwardWon('Any')">Any</a></li>
                            </ul>
                        </div>
                    </form>
                </div>

                <!-- Search Form -->
                <div class="ms-auto">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search here..." aria-label="Search">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Card -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            {% if records %}
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for record in records %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Preview image-->
                                <img class="card-img-top" src="{{ record.preview_image_url }}" alt="Preview"/>
                                <!-- Details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Name-->
                                        <h5 class="fw-bolder">{{ record.title }}</h5>
                                        <!-- Author-->
                                        <p>By: {{ record.author }}</p>
                                        <p><strong>Team Number:</strong> {{ record.team_number }}</p>
                                    </div>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="#" data-bs-toggle="modal" data-bs-target="#popover{{ record.uuid }}">
                                            See Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Popover -->
                        <div class="portfolio-modal modal fade" id="popover{{ record.uuid }}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="close-modal" data-bs-dismiss="modal">
                                        <!-- <img src="{{ url_for('static', filename='/images/close-icon.svg') }}" alt="Close modal" /> -->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="container" style="margin-top: auto; margin-bottom: auto;">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-11">
                                                <div class="modal-body" style="margin-top: 2rem;">
                                                    <div class="row" style="align-items: center;">
                                                        <!-- Text Content -->
                                                        <div class="col-sm-6">
                                                            <!-- Name-->
                                                            <h2 class="fw-bolder">{{ record.title }}</h2>
                                                            <!-- Author -->
                                                            <h5 style="margin-top: 1rem; margin-bottom: 2rem;"><strong>By: {{ record.author }}</strong></h5>
                                                            <p><strong>Years used:</strong> {{ record.years_used }}</p>
                                                            <p><strong>Team Number:</strong> {{ record.team_number }}</p>
                                                            <p><strong>Awards won:</strong> {{ record.awards_won }}</p>
                                                            <!-- Product description-->
                                                            <p style="margin-bottom: 1.5rem; padding: 0.8rem; border: 1px solid lightslategray; border-radius: 0.375rem;"><strong>Description: </strong>{{ record.description }}</p>
                                                        </div>
                                                        <!-- Preview Image -->
                                                        <div class="col-sm-6 text-center">
                                                            <img src="{{ record.preview_image_url }}" class="img-fluid d-block mx-auto" alt="preview-image">
                                                        </div>
                                                        <div class="text-center" style="padding: 1rem; height: 6rem;">
                                                            <a type="button" class="btn btn-outline-dark" href="{{ record.download_url }}" download="{{ record.title }}">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"></path>
                                                                </svg>
                                                                Download
                                                            </a>
                                                            <p style="margin: 0; margin-top: 0.25rem;">View Here</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <!-- No results found -->
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">No Results Found</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
