{% extends 'ftc/bases/code-base.html' %}


{% block intermediateHead %}
    <title>OpenVault - Code - Vision</title>
{% endblock %}

{% block header %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Vision</h1>
                <p class="lead fw-normal text-white-50 mb-0">Find various open source code files that you can use yourself!</p>
            </div>
        </div>
    </header>
{% endblock %}