{% extends 'ftc/bases/base.html' %}

{% block head %}
    <title>OpenVault - Contribute</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/contribute.css') }}">
{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">How to Contribute</h1>
                <p class="lead fw-normal text-white-50 mb-0">Follow these steps to add and open-source your own files on
                    OpenVault.</p>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- Step 1 -->
        <div class="step-section bg-light">
            <h4 class="fw-bolder">Step 1: Go to the OpenVault Repository</h4>
            <p>&ensp;To contribute to OpenVault, visit the <a
                    href="https://github.com/AlpineRobotics25710/OpenVaultFiles">Official OpenVaultFiles GitHub
                Repository</a></p>
        </div>

        <!-- Step 2 -->
        <div class="step-section bg-light">
            <h4 class="fw-bolder">Step 2: Fork the Repository</h4>
            <p>&ensp;Click the <strong>Fork</strong> button at the top-right of the repository to create your own copy.
            </p>
            <strong>Video Guide:</strong> <a href="https://www.youtube.com/watch?v=nCKdihvneS0" target="_blank">How to
            Fork a Github Repository</a>
        </div>

        <!-- Step 3 -->
        <div class="step-section bg-light">
            <h4 class="fw-bolder">Step 3: Add a Folder(and adding info.json) via GitHub</h4>
            <p>&ensp;Once you've forked the repository, you can add your files directly through GitHub. <strong>But
                first</strong>, we have to <strong>create a folder for your files</strong>.</p>
            <h5>Creating Your Folder:</h5>
            <ol>
                <li>Navigate to the appropriate folder in your forked repository (e.g., ftc/cad/arms/).</li>
                <li>Create a <strong>folder</strong> following this <strong>naming structure</strong>:
                    “YourTeam#-NameOfContribution”
                </li>
                <ol type="a">
                    <li>To create a new folder, first click on add file in the right hand corner and click create new file</li>
                    <li>Then in the textbox that appears, type the folder name and then “/”</li>
                    <li>For example, type: 25710-ArmCadV1/</li>
                    <li>A new textbox should automatically appear</li>
                </ol>
                <li>Make sure not to click out of this text box. We will tell you what to put here in the next step.</li>
            </ol>
        </div>

        <!-- Step 4 -->
        <div class="step-section bg-light">
            <h4 class="fw-bolder">Step 4: Add Your Files to Your Contribution Folder via Github</h4>
            &ensp;Once you've created your folder, you can add your files directly through GitHub as well.
            <h5><br>Required Files:</h5>
            &ensp;Each contribution folder should have:
            <ol>
                <li>An info.json file with metadata.</li>
                <li>A preview image (.png file) named as specified in info.json.</li>
            </ol>
            <h5>Adding your info.json file:</h5>
            &ensp;On the same page that you created your folder, and in the same text box that you created your folder
            with:
            <ol>
                <li>Type “info.json” in the textbox that appears.</li>
                <li>Once you have names your file "info.json", use one of the <strong>corresponding formats</strong> (based on what type of
                    contribution you are submitting):
                </li>

                <strong><br>CAD Contribution</strong> info.json file format:
                <pre class="bg-white p-3" style="border-radius: 5px;">
{
    "preview-image-name": "your-preview-image.png",
    "title": "Title of your CAD",
    "author": "Your Name",
    "description": "Describe your CAD, including unique features.",
    "used-in-comp": true,  (if used in competition: true otherwise false)
    "team-number": "Your Team Number",
    "years-used": "Year(s) Used",
    "onshape-link": "Link to your CAD model on Onshape"
}               </pre>

                <strong>Code Contribution</strong> info.json file format:
                <pre class="bg-white p-3 " style="border-radius: 5px;">
{
    "preview-image-name": "your-image-file-name.png",
    "download-name": "name of your file.zip",
    "title": "title of your code contribution",
    "author": "your name or you team's name",
    "description": "description of your code contribution",
    "used-in-comp": true, (if used in competition: true otherwise false)
    "team-number": "your team number",
    "years-used": "years you used it",
    "language": "languages-used"
}               </pre>

                <strong>Portfolio Contribution</strong> info.json file format:
                <pre class="bg-white p-3" style="border-radius: 5px;">
{
    "preview-image-name": "your-image-file-name.png",
    "file-name": "name of portfolio-file.pdf",
    "title": "name of your portfolio-submission",
    "author": "your name or you team's name",
    "description": "description of your portfolio submission",
    "team-number": "your team number",
    "years-used": "years you used it",
    "awards-won": "awards this portfolio won"
}               </pre>
                <li>Click <strong>Commit Changes</strong> to save.</li>
            </ol>
            <h5>Uploading Your Preview Image:</h5>
            Make sure you are in the same folder that you created. Click <strong>"Add file" → "Upload files"</strong> and upload your image and then click <strong>Commit
            Changes</strong> to save.
            <br>
            <br>
            <h5>Uploading Your Download <strong>(for code and portfolio contributions only):</strong></h5>
            Make sure you are in the same folder that you created. Click <strong>"Add file" → "Upload files"</strong> and upload your image and then click
            Make sure that if you are uploading a portfolio, it is a .pdf file. If you are uploading code, compress it into a zip file and upload that.
            <strong>Commit Changes</strong> to save.
            <br>
            <br>
            <p>
                <strong>Important Note:</strong>
                Your preview image and other download names for portfolio and code contributions should match the name of the
                corresponding files in your info.json file, otherwise the files will not be found.
                For the "used-in-comp" field, you must put either "true" or "false". There cannot be any quotations around the
                "true" or "false".
            </p>
        </div>

        <!-- Step 5 -->
        <div class="step-section bg-light">
            <h4 class="fw-bolder">Step 5: Create a Pull Request</h4>
            &ensp;Once you've added your files, submit a <strong>Pull Request (PR)</strong> to merge your changes into
            the main repository.
            <h5><br>Steps to Create a Pull Request:</h5>
            <ol>
                <li>Go to your forked repository.</li>
                <li>Click <strong>Contribute > Open Pull Request.</strong></li>
                <li>Add a title and description explaining your changes/contribution(doesn’t need to be too in depth,
                    just make sure to add the name of your contribution folder somewhere so we can review it!!).
                </li>
                <li>Click <strong>Create Pull Request</strong>.</li>
            </ol>
            <strong><br>Video Guide:</strong> <a href="https://www.youtube.com/watch?v=nCKdihvneS0" target="_blank">How
            to Make a Pull Request</a>
        </div>

        <!-- Step 6 -->
        <div class="step-section bg-light">
            <h4 class="fw-bolder">Step 6: Wait for Review</h4>
            <p>
                &ensp;Once you submit a pull request, maintainers will review it.
                If changes are needed, they'll provide feedback.
                Once approved, your contribution will be merged into <strong>OpenVault</strong>!
                <strong>Thank you</strong> for contributing to the FTC robotics community!
            </p>
        </div>
    </div>
{% endblock %}