{% extends 'ftc/bases/base.html' %}

{% block head %}
    <title>OpenVault - Contribute</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/contribute.css') }}">
{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">How to Contribute</h1>
                <p class="lead fw-normal text-white-50 mb-0">Follow these steps to add and open-source your own files on
                    OpenVault.</p>
            </div>
        </div>
    </header>

    <div class="container markdown-container">
        <github-md>
            {{ markdown }}
        </github-md>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag-GitHub.js"></script>
{% endblock %}