{% extends 'ftc/bases/base.html' %}


{% block head %}
    <title>OpenVault - Home</title>
{% endblock %}



{% block body %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">OpenVault</h1>
                <p class="lead fw-normal text-white-50 mb-0">The hub for all things open source FTC</p>
            </div>
        </div>
    </header>
{% endblock %}